// Variables

$index-bg-color: #e1f3ff;
$productos-bg-color: #ffe5d9;
$faq-bg-color: #ffe1e7;
$nosotros-bg-color: #d8e2dc;
$contacto-bg-color: #cdb4db;
$circle-check: #cce1d5;
$circle-xmark: #f4acb7;

/* General Properties */

* {
  margin: 0;
  padding: 0;
  font-family: 'Didact Gothic', sans-serif;
  color: rgb(0, 0, 0, 0.6);
}

html {
  height: 100%;
  max-width: 100%;
}

body {
  @extend html;
  display: flex;
  flex-flow: column;
  background-attachment: fixed;

  &.index {
    background-color: $index-bg-color;
    background-image: linear-gradient(to bottom right, $index-bg-color, #ffd4d9);
  }

  &.productos {
    background-color: $productos-bg-color;
  }

  &.faq {
    background-color: $faq-bg-color;
  }

  &.nosotros {
    background-color: $nosotros-bg-color;
  }

  &.contacto {
    background-color: $contacto-bg-color;
  }
}

main {
  margin-top: 1.5rem;
  justify-content: start;
  text-align: start;
  margin-bottom: 3rem;
}

h1,
h2 {
  margin-bottom: 1.5rem;
  margin-right: 20px;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

p {
  margin-top: 10px;
  font-size: larger;
  text-align: justify;
}

a {
  text-decoration: none;
  color: black;
}

li {
  margin-top: 10px;
  font-size: large;
}

.side-image {
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  max-width: 85%;
  margin: auto;

  @media (max-width: 767px) {
    & {
      max-width: 70%;
    }
  }

  @media (min-width: 768px) {
    & {
      position: sticky;
      top: 110px;
    }
  }
}