/* "Preguntas frecuentes" webpage Properties */

.accordion-button-custom,
.accordion-button-custom:focus,
.accordion-button-custom:not(.collapsed) {
  font-size: 1.25rem;
  color: $font-color;
  background-color: $faq-bg-color;
  box-shadow: none;
}

.accordion-item-custom {
  @extend .accordion-button-custom;
  border: $border;
}

.accordion-header-custom {
  margin: 0;
}

.accordion-body-custom {
  color: $font-color-soft;
  font-size: 1.25rem;
  text-align: justify;
}