/* Navbar Properties */

.navbar-custom {
  background-color: #ffd4d9;
  border-bottom: solid 0.5px rgb(0, 0, 0, 0.1);
}

.nav-item-custom {
  margin: 0;
}

.nav-link-custom {
  font-size: 1.1rem;
  @include zoom-in-transition;
}

.navbar-brand-custom {
  font-size: 1.35rem;
  @include zoom-in-transition;
}

.logo {
  width: auto;
  height: 32px;
}