/* Navbar Properties */

.navbar-custom {
  background-color: $navbar-bg-color;
  border-bottom: $border;
  opacity: 95%;
}

.nav-item-custom {
  margin: 0;
}

.nav-link-custom {
  font-size: 1.1rem;
  @include zoom-in-transition;
}

.navbar-brand-custom {
  font-size: 1.35rem;
  @include zoom-in-transition;
}

.logo {
  width: auto;
  height: 32px;
}