/* Index webpage Properties */

.price-cards {
  background-color: #ffe5d9;
  border-top: solid 0.5px rgb(0, 0, 0, 0.1);
  border-bottom: solid 0.5px rgb(0, 0, 0, 0.1);
}

.card-custom {
  max-width: 18rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.card-title-custom {
  height: 45px;
  word-spacing: -3px;
}

.card-text-custom {
  height: 45px;
}

.card-price {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  height: 55px;
}

.card-link-custom {
  transition: all 0.25s;

  &:hover {
    transform: scale(1.1);
  }
}