/* General Properties */
* {
  margin: 0;
  padding: 0;
  font-family: "Didact Gothic", sans-serif;
  color: rgba(0, 0, 0, 0.6);
}

html, body {
  height: 100%;
  max-width: 100%;
}

body {
  display: flex;
  flex-flow: column;
  background-attachment: fixed;
}
body.index {
  background-color: #e1f3ff;
  background-image: linear-gradient(to bottom right, #e1f3ff, #ffd4d9);
}
body.productos {
  background-color: #ffe5d9;
}
body.faq {
  background-color: #ffe1e7;
}
body.nosotros {
  background-color: #d8e2dc;
}
body.contacto {
  background-color: #cdb4db;
}

main {
  margin-top: 1.5rem;
  justify-content: start;
  text-align: start;
  margin-bottom: 3rem;
}

h1,
h2 {
  margin-bottom: 1.5rem;
  margin-right: 20px;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

p {
  margin-top: 10px;
  font-size: larger;
  text-align: justify;
}

a {
  text-decoration: none;
  color: black;
}

li {
  margin-top: 10px;
  font-size: large;
}

.side-image {
  display: flex;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  max-width: 85%;
  margin: auto;
}
@media (max-width: 767px) {
  .side-image {
    max-width: 70%;
  }
}
@media (min-width: 768px) {
  .side-image {
    position: sticky;
    top: 110px;
  }
}

/* Navbar Properties */
.navbar-custom {
  background-color: #ffd4d9;
  border-bottom: solid 0.5px rgba(0, 0, 0, 0.1);
}

.nav-item-custom {
  margin: 0;
}

.nav-link-custom {
  font-size: 1.1rem;
  transition: all 0.25s;
}
.nav-link-custom:hover {
  transform: scale(1.1);
}

.navbar-brand-custom {
  font-size: 1.35rem;
  transition: all 0.25s;
}
.navbar-brand-custom:hover {
  transform: scale(1.1);
}

.logo {
  width: auto;
  height: 32px;
}

/* Index webpage Properties */
.price-cards {
  background-color: #ffe5d9;
  border-top: solid 0.5px rgba(0, 0, 0, 0.1);
  border-bottom: solid 0.5px rgba(0, 0, 0, 0.1);
}

.card-custom {
  max-width: 18rem;
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

.card-title-custom {
  height: 45px;
  word-spacing: -3px;
}

.card-text-custom {
  height: 45px;
}

.card-price {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  height: 55px;
}

.card-link-custom {
  transition: all 0.25s;
}
.card-link-custom:hover {
  transform: scale(1.1);
}

/* "Productos" webpage Properties */
.sp-img {
  box-shadow: 0 0 5px rgb(0, 0, 0);
  transition: all 0.25s;
}
@media (min-width: 768px) {
  .sp-img:hover {
    transform: scale(1.1);
  }
}

.starter-packs-table * {
  text-align: center;
  margin: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.starter-packs-table h2 {
  font-weight: bold;
}

@media (max-width: 575px) {
  .sp-img {
    max-width: 100%;
  }
  .starter-packs-table * {
    font-size: small;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .sp-img {
    max-width: 90%;
  }
  .starter-packs-table * {
    font-size: medium;
  }
  .starter-packs-table h2 {
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) {
  .sp-img {
    max-width: 80%;
  }
  .starter-packs-table h2 {
    font-size: 1.5rem;
  }
}
.fa-circle-check {
  background-color: #cce1d5;
  padding: 0;
  border-radius: 100%;
  font-size: 2em;
}

.fa-circle-xmark {
  background-color: #f4acb7;
  padding: 0;
  border-radius: 100%;
  font-size: 2em;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

/* "Preguntas frecuentes" webpage Properties */
.question {
  margin-top: 30px;
  font-weight: bold;
  font-size: larger;
}

.answer,
.answer i,
.disclaimer {
  color: rgba(0, 0, 0, 0.4);
}

/* WhatsApp button Properties */
.whatsapp-floating-icon {
  font-size: 3.5rem;
  left: auto;
  margin-right: 15px;
  transition: all 0.25s;
}
@media (min-width: 768px) {
  .whatsapp-floating-icon:hover {
    transform: scale(1.1);
  }
}

/* Footer Properties */
footer {
  background-color: rgba(0, 0, 0, 0.05);
  border-top: solid 0.5px rgba(0, 0, 0, 0.1);
  margin-top: auto;
  padding: 0.5rem;
}
footer ul li {
  margin: 0;
  list-style: none;
  padding: 0 10px;
  transition: all 0.25s;
}
@media (min-width: 768px) {
  footer ul li:hover {
    transform: scale(1.1);
  }
}

/*# sourceMappingURL=style.css.map */
