/* Propiedades generales */

* {
  margin: 0;
  padding: 0;
  font-family: 'Didact Gothic', sans-serif;
  color: rgb(0, 0, 0, 0.6);
  overscroll-behavior-y: none;
}

html {
  height: 100%;
  max-width: 100%;
}

body {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: column;
}

a {
  text-decoration: none;
  color: black;
}

li {
  margin-top: 10px;
}

body.index {
  background-color: #e1f3ff;
}

body.productos {
  background-color: #ffe5d9;
}

body.faq {
  background-color: #ffe1e7;
}

body.nosotros {
  background-color: #D8E2DC;
}

body.contacto {
  background-color: #CDB4DB;
}

/* Propiedades de Navbar */

.navbar {
  background-color: #ffd4d9;
  border-bottom: solid 0.5px rgb(0, 0, 0, 0.1);
}

.nav-item {
  margin: 0;
}

.nav-link {
  font-size: 1.1em;
}

.navbar-brand {
  font-size: 1.35em;
}

.logo {
  width: auto;
  height: 32px;
}

/* Propiedades de body */

main {
  margin-top: 30px;
  justify-content: start;
  text-align: start;
  margin-bottom: 3rem;
}

h1,
h2 {
  margin-right: 20px;
  letter-spacing: 1px;
}

p {
  margin: 10px 30px 0 0;
  font-size: larger;
  text-align: justify;
}

.side-image {
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  max-width: 85%;
  height: auto;
}

@media (max-width: 768px) {
  .side-image {
    display: flex;
    margin: auto;
    max-width: 70%;
  }
}

@media (min-width: 769px) {
  .sticky-image {
    position: sticky;
    top: 110px;
  }
}

/* Propiedades botón WhatsApp */

.fa-whatsapp {
  font-size: 3.5em;
  left: auto;
  margin: 0 15px 15px 0;
}

/* Propiedades de footer */

footer {
  background-color: rgb(0, 0, 0, 0.05);
  border-top: solid 0.5px rgb(0, 0, 0, 0.1);
  margin-top: auto;
  padding: 0.5rem;
}

footer ul li {
  margin: 0;
  list-style: none;
  padding: 0 10px;
}

/* Propiedades de cards */

#index-cards {
  background-color: #ffe5d9;
  border-top: solid 0.5px rgb(0, 0, 0, 0.1);
  border-bottom: solid 0.5px rgb(0, 0, 0, 0.1);
}

.price {
  font-size: 2.5em;
  font-weight: bold;
  color: black;
}

/* Propiedades página de Productos */

.sp-img {
  max-width: 70%;
}

@media (min-width: 576px) and (max-width: 768px) {
  .sp-img {
    max-width: 100%;
    height: auto;
  }
}

figcaption {
  color: rgb(0, 0, 0, 0.3);
}

/* Propiedades página de Preguntas frecuentes */

.question {
  margin-top: 30px;
  font-weight: bold;
  font-size: larger;
}

.answer,
.answer i {
  color: rgb(0, 0, 0, 0.4);
}